body{
    background-color: black;
    color: whitesmoke;
    margin: 50px;
    padding: 10px;
    /*hex color code use for colours
    */
     /* background-image: url () */
} /*
.txt{
    text-decoration: underline;
    line-through also type;
    text-transform: uppercase;
    font-family: ;
    font-style:italic ;
    font-weight: bold;
    font-size:large ;
    line-height: 16px;

}*/
    .cont-grid{
        display: grid;
        grid-template-columns:auto auto auto;
        border: 2px solid rgb(240, 8, 8) ;
        gap: 20px;
    }


  .grid-items{
    height: 100px;
    width: 100px;
    border: 2px solid black;
  }