 html, body {
    height: 100%;
}

        body{
            height: 100%;
            margin: 0;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.8rem;
        }
        .pimg1 {
            background-image: url(download2.jpg);
            min-height: 100vh;
        }
        .pimg2{
            background-image: url(download1.jpg);
            min-height: 100vh;
        }
        .pimg3{
            background-image: url(download3.jpg);
            min-height: 100vh;
        }
        .pimg4{
             background-image: url(download4.jpg);
            min-height: 100vh;
        }
        .pimg1,
        .pimg2,
        .pimg3,
        .pimg4{
            position: relative;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        .ptext{
            position: absolute;
            top: 50%;
            color: rgb(235, 227, 227);
            width: 100%;
            text-align: center;
            font-size: 27px;
            letter-spacing: 8px;
            text-transform: uppercase;
            font-size: bold;
        }
        .textbg{
            background: #313534;
            color: white;
            padding:20px ;
            display: inline-block;
        }
        .section{
            padding: 50px 80px;
            text-align: center;

        }
        .section-dark{
            background-color: #282e34;
            color: #ddd;
        }