h1{
    background-color: black;
    color: skyblue;
    text-decoration: underline;
}
#para1{
    color: red;
     font-weight:bold ;
}
#para2{
    color: orangered;
}
#para3{
    color: orange;
}
body{
    background-color: black;
}
button{
        background-color:palevioletred;
        color: blue;
    }
    .myclass{
        color: rgb(228, 8, 8);
    }
    .class2{
        background-color: aqua;
        color: rebeccapurple;
        border-radius: 10px;
        font-family: cursive;
    }
    #para5{
        color: azure;
        text-transform: capitalize;
    }