        body{
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgb(65, 63, 63);
        }

        nav{
            /* background-color: black; light purple */
            padding: 12px 20px;
            background:#050505;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo{
            font-size: 20px;
            font-weight: bold;
            color: gold;
        }

        .nav-links{
            list-style: none;
            display: flex;
            gap: 25px;
            margin: 0;
            padding: 0;
        }

        .nav-links a{
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-size: 16px;
        }
/* 
        .nav-links a:hover{
            text-decoration: underline;
        } */
         .footerbox {
            width: 100%;
                background-color: black;
              color: rgb(255, 255, 255);
              text-align: center;
              font-size: 1.5rem;
         }
         .contentbox {
            width: 70%;
            padding: 3rem;
            margin: auto;
            display: flex;
            gap: 100px;
            box-shadow:0px 0px 30px black ;
            /* border-radius: 40px; */
            flex-direction: column;
            border: 2px solid black;
            background-color: rgb(134, 127, 127);
        }
        .item {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .rightbox{
            position: relative;
            overflow: hidden;
            transition:all 0.3 linear 0s;
            box-shadow: 1px 1px 10px black;
            border-radius: 10px;
        }
        .rightbox img{
            height: 400px;
            border-radius: 40px;
            transition: all 0.6s linear 0s ;
        }
        .rightbox img:hover{
            transform: scale(1.1);
        }
        .leftbox{
            display: flex;
            flex-direction: column;

        }
        .leftbox h2{
            font-size: 2rem;
        }
        .ingridentbox {
            font-size: 1.2rem;
        }
        .recipebox {
            font-size: 1.1rem;
        }
        .rightbox .overlay{
            position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        width: 100%;
        background-color: black;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all 0.3s linear 0s;
        }
        .rightbox:hover .overlay{
            opacity: 1;
        }
        .rightbox .overlay span{
            color: white;
            font-size:1.2rem ;
        }