body{
    box-sizing: border-box;
    background-color: gray;
    
}
#top{
    text-align: center;
    
}
#price{
    color: red;
}
div{
    background-color: white;
    margin:0 auto;
    text-align: center;
    border: 5px solid orange;
    border-radius: 10px;
}
button{
    background-color: blue;
    color: white;
}